<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpha.component.app" >

    <application
        android:name="com.alpha.component.app.ApplicationTest"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.alpha.component.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alpha.component.service.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        <activity
            android:name="com.alpha.component.activitytest.ActivityTest"
            android:label="@string/title_activity_activity_test" >
        </activity>

        <service
            android:name="com.alpha.component.service.IntentServiceTest"
            android:exported="false"
            android:process=":another" >
        </service>
        <service
            android:name="com.alpha.component.service.ServiceTest"
            android:exported="false" >
        </service>
        <service
            android:name="com.alpha.component.service.BindServiceTest"
            android:exported="false" >
        </service>

        <receiver android:name="com.alpha.component.broadcast.BroadCastTest" >
            <intent-filter>
                <action android:name="com.alpha.component.app.action" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.alpha.component.provider.ProviderActivity"
            android:label="@string/title_activity_provider" >
        </activity>
        <activity
            android:name="com.alpha.component.notification.NotificationTest"
            android:label="@string/title_activity_notification_test" >
        </activity>
    </application>

</manifest>
